.header {
    -fx-fill: darkblue;
    -fx-font-weight: bold;
}

.sbracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}

.bracket {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}

.rule_sep {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}

.math {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: green;
}

.comment {
    -fx-fill: grey;
}

.unknown {
    -fx-fill: red;
}

.number {
    -fx-fill: blue;
}

.variable {
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.anonymous {
    -fx-fill: grey;
    -fx-font-weight: bold;
}

.error {
    -rtfx-underline-color: red;
    -rtfx-underline-dash-array: 2 2;
    -rtfx-underline-width: 1;
    -rtfx-underline-cap: butt;
}

.nodeError {
    -rtfx-background-color: indianred;
}

.semanticError {
    -rtfx-background-color: salmon;
}

.warning {
    -rtfx-background-color: goldenrod;
}

.unused {
    -fx-fill: grey;
    -fx-font-style: italic;
}

.onCursor {
    -fx-fill: goldenrod;
}